<%= form_with model: @concierto do |form| %>
    <div class="field is-horizontal">
        <div class="field-label is-normal">
        </div>
        <div class="field-body">
            <% if flash[:notice] %>
                <div class="notification is-success"><%= flash[:notice] %></div>
            <% end %>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label for="fecha" class="label">Fecha / Hora</label>
        </div>
        <div class="field-body">
            <div class="field is-narrow">
            <p class="control has-icons-left">
                <%= form.date_field :fecha, class: 'input' %>
                <span class="icon is-small is-left">
                    <%= icon('fas', 'calendar') %>
                </span>
            </p>
            </div>
            <div class="field is-narrow">
            <p class="control has-icons-left">
                <%= form.time_field :hora, class: 'input' %>
                <span class="icon is-small is-left">
                    <%= icon('fas', 'clock') %>
                </span>
            </p>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <%= form.label :lugar, class: 'label' %>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <%= form.text_area :lugar, class: 'textarea' %>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <%= form.label :obras, class: 'label' %>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <%= form.text_area :obras, class: 'textarea' %>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <%= form.label :interpretes, class: 'label' %>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <%= form.text_area :interpretes, class: 'textarea' %>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <%= form.label :fotos, class: 'label' %>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <% if @concierto.fotos.attached? %>
                        <% @concierto.fotos.each do |f| %>
                            <%= image_tag f.variant(
                                combine_options: {
                                    resize: '250',
                                    crop: '250x250+0+0',
                                    gravity: 'north'
                                }
                            ), class: 'is-square' %>
                        <% end %>
                    <% end %>

                    <% unless 'show' == params[:action] %>
                    <div class="control">
                        <div class="file">
                            <label class="file-label">
                                <%= form.file_field :fotos, multiple: true, class: 'file-input' %>
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                        Examinar
                                    </span>
                                </span>
                            </label>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>

    <% unless 'show' == params[:action] %>
    <div class="field is-horizontal">
        <div class="field-label is-normal">
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <%= form.button class: 'button is-primary' %>
                </div>
            </div>
        </div>
    </div>
    <% end %>
<% end %>
