<section class="hero is-fullheight-with-navbar" id="charlas">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1">Charlas <%= @encuentro.version %></h1>
      <div class="columns is-multiline is-mobile">
        <% @encuentro.charlas_por_dia.each do |d|%>
          <div class="column is-4">
            <div class="card" style="height:100%">
              <header class="card-header">
                <p class="card-header-title title is-centered">
                  <%= d.fecha_display %>
                </p>
              </header>
              <div class="card-content">
                <% @encuentro.charlas.where(fecha: d.fecha).each do |c| %>
                <p class="has-text-left">
                  <strong>
                    <%= c.titulo %>
                    <br><%= c.expositor %>
                  </strong>
                  <br><%= "#{c.hora_inicio_display} - #{c.hora_termino_display} horas" %>
                  <% if c.lugar != '' %>
                  <br><%= c.lugar %>
                  <% end %>
                  <br><%= link_to 'Ver Fotos', charla_fotos_path(c), class: 'button' if c.fotos.attached? %>
                </p>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
