<section class="hero has-background-dark is-fullheight-with-navbar" id="charlas">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1 has-text-white">Charlas <%= @encuentro.version %></h1>
      <div class="tile is-ancestor">
        <% @encuentro.charlas_por_dia.each do |d| %>
        <div class="tile is-parent">
          <article class="tile is-child notification">
            <div class="content">
              <h1 class="title is-3"><%= d.fecha_display %></h1>
              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <% @encuentro.charlas.where(fecha: d.fecha).each do |c| %>
                    <p>
                      <strong>
                        <%= c.titulo %>
                        <br><%= c.expositor %>
                      </strong>
                      <br><%= "#{c.hora_inicio_display} - #{c.hora_termino_display} horas" %>
                      <br><%= c.lugar %>
                      <br><%= link_to 'Ver Fotos', charla_fotos_path(c), class: 'button' if c.fotos.attached? %>
                    </p>
                    <% end %>
                  </div>
                </div>
              </article>
            </div>
          </article>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
