<%= form_with model: @encuentro do |form| %>
    <div class="field is-horizontal">
        <div class="field-label is-normal">
        </div>
        <div class="field-body">
            <% if flash[:notice] %>
                <div class="notification is-success"><%= flash[:notice] %></div>
            <% end %>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Título</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <input type="text" class="input" value="Encuentro de...">
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <%= form.label :fotos, class: 'label' %>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <% if @encuentro.fotos.attached? %>
                        <% @encuentro.fotos.each do |f| %>
                            <%= image_tag f.variant(
                                combine_options: {
                                    resize: '250',
                                    crop: '250x250+0+0',
                                    gravity: 'north'
                                }
                            ), class: 'is-square' %>
                        <% end %>
                    <% end %>

                    <% unless 'show' == params[:action] %>
                    <div class="control">
                        <div class="file">
                            <label class="file-label">
                                <%= form.file_field :fotos, multiple: true, class: 'file-input' %>
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                        Examinar
                                    </span>
                                </span>
                            </label>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label"></div>
        <div class="field-body">
            <h2 class="title is-4">Datos Coordinador</h2>
        </div>
    </div>

    <%= form.fields_for :coordinador do |c_form| %>
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <%= c_form.label :nombre, class: 'label' %>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <%= c_form.text_field :nombre, class: 'input' %>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <%= c_form.label :bio, class: 'label' %>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <%= c_form.text_area :bio, class: 'textarea' %>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <%= c_form.label :foto, class: 'label' %>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <% if @encuentro.coordinador.foto.attached? %>
                        <%= image_tag @encuentro.coordinador.foto.variant(
                            combine_options: {
                                resize: '250',
                                crop: '250x250+0+0',
                                gravity: 'north'
                            }
                        ), class: 'is-square' %>
                    <% end %>

                    <% unless 'show' == params[:action] %>
                    <div class="control">
                        <div class="file">
                            <label class="file-label">
                                <%= c_form.file_field :foto, class: 'file-input' %>
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                        Examinar
                                    </span>
                                </span>
                            </label>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <% end %>

    <% unless 'show' == params[:action] %>
    <div class="field is-horizontal">
        <div class="field-label is-normal">
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <%= form.button class: 'button is-primary' %>
                </div>
            </div>
        </div>
    </div>
    <% end %>
<% end %>
