<%= form_with model: @encuentro do |form| %>
    <div class="field is-horizontal">
        <div class="field-label is-normal">
        </div>
        <div class="field-body">
            <% if flash[:notice] %>
                <div class="notification is-success"><%= flash[:notice] %></div>
            <% end %>
        </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <%= form.label :epigrafe, class: 'label' %>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <%= form.text_field :epigrafe, class: 'input' %>
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <%= form.label :titulo, class: 'label' %>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <%= form.text_field :titulo, class: 'input' %>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <%= form.label :bajada, class: 'label' %>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <%= form.text_field :bajada, class: 'input' %>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <%= form.label :fotos, class: 'label' %>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <% if @encuentro.fotos.attached? %>
                        <% @encuentro.fotos.each do |f| %>
                            <%= image_tag f.variant(
                                combine_options: {
                                    resize: '250',
                                    crop: '250x250+0+0',
                                    gravity: 'north'
                                }
                            ), class: 'is-square' %>
                        <% end %>
                    <% end %>

                    <% unless 'show' == params[:action] %>
                    <div class="control">
                        <div class="file">
                            <label class="file-label">
                                <%= form.file_field :fotos, multiple: true, class: 'file-input' %>
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                        Examinar
                                    </span>
                                </span>
                            </label>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal"></div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <h3 class="title is-3">Quienes Somos</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <%= form.label :foto, class: 'label' %>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <% if @encuentro.foto_quienes_somos.attached? %>
                        <%= image_tag @encuentro.foto_quienes_somos.variant(
                            combine_options: {
                                resize: '400',
                                crop: '400x400+0+0',
                                gravity: 'north'
                            }
                        ), class: 'is-square' %>
                    <% end %>
                </div>

                <% unless 'show' == params[:action] %>
                <div class="control">
                    <div class="file">
                        <label class="file-label">
                            <%= form.file_field :foto_quienes_somos, class: 'file-input' %>
                            <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                    Examinar
                                </span>
                            </span>
                        </label>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <%= form.label :titulo, class: 'label' %>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <%= form.text_field :titulo_quienes_somos, class: 'input', readonly: 'show' == params[:action]  %>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <%= form.label :cuerpo, class: 'label' %>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <%= form.text_area :cuerpo_quienes_somos, class: 'textarea', readonly: 'show' == params[:action] %>
                </div>
            </div>
        </div>
    </div>

    <% unless 'show' == params[:action] %>
    <div class="field is-horizontal">
        <div class="field-label is-normal">
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <%= form.button class: 'button is-primary' %>
                </div>
            </div>
        </div>
    </div>
    <% end %>
<% end %>
