<h1>Nuevo Exponente</h1>

<%= form_with model: @exponente do |form| %>
  <%= form.label :foto %>
  <%= form.file_field :foto%>

  <%= form.label :nombre %>
  <%= form.text_field :nombre %>

  <%= form.label :bio %>
  <%= form.text_area :bio %>

  <%= form.button %>
<% end %>
