<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
        <%= link_to 'Inicio', root_path, { class: 'navbar-item' } %>

        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Charlas</a>
            <div class="navbar-dropdown is-boxed">
                <%= link_to 'Nueva', new_charla_path, { class: 'navbar-item' } %>
                <%= link_to 'Administrar', charlas_path, { class: 'navbar-item' } %>
            </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Exponentes</a>
            <div class="navbar-dropdown is-boxed">
                <%= link_to 'Nuevo', new_exponente_path, { class: 'navbar-item' } %>
                <%= link_to 'Administrar', exponentes_path, { class: 'navbar-item' } %>
            </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Ensayos</a>
            <div class="navbar-dropdown is-boxed">
                <%= link_to 'Nuevo', new_ensayo_path, { class: 'navbar-item' } %>
                <%= link_to 'Administrar', ensayos_path, { class: 'navbar-item' } %>
            </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Conciertos</a>
            <div class="navbar-dropdown is-boxed">
                <%= link_to 'Nuevo', new_concierto_path, { class: 'navbar-item' } %>
                <%= link_to 'Administrar', conciertos_path, { class: 'navbar-item' } %>
            </div>
        </div>
    </div>

    <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Perfil</a>
            <div class="navbar-dropdown is-boxed">
                <a class="navbar-item">Mi Cuenta</a>
                <a class="navbar-item">Configuración</a>
                <hr class="navbar-divider">
                <a class="navbar-item">Cerrar Sesión</a>
            </div>
        </div>
    </div>
  </div>
</nav>
